* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App {
    font-family: "Titillium Web", sans-serif;
    display: flex;
    &__Player {
        width: 100%;
    }
}
h1,
h2,
h3 {
    text-align: center;
    margin-bottom: 0.5em;
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
